
.dotted {
  text-decoration: none;
  border-bottom: 1px dotted;
  cursor: pointer;
  color: #3d9956;
}

.dotted:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}

.opa6 {
  opacity:0.6;
}




/*-----------sidebar-----------*/

#sidebar-wrapper {
    margin-left: -240px;
    left: 70px;
    width: 240px;
    background: #343a40;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .3s ease 0s;
    overflow-y: scroll;
}

#sidebar-wrapper::-webkit-scrollbar {
display: none;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 240px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

#wrapper {
    -webkit-transition: padding-left .25s;
    -moz-transition: padding-left .25s;
    -o-transition: padding-left .25s;
    -ms-transition: padding-left .25s;
    transition: padding-left .25s;
}

#wrapper:not(.active) {
    padding-left: 70px;
}

#wrapper:not(.active) #sidebar-wrapper span.item_label {
    display: none;
}

#wrapper:not(.active) #sidebar-wrapper .sidebar-footer {
    display: none;
}


#wrapper.active {
    padding-left: 240px;
}

#wrapper.active #sidebar-wrapper {
    left: 240px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    cursor:pointer;
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 240px;
    background: #000;
    -webkit-transition: background .25s;
    -moz-transition: background .25s;
    -o-transition: background .25s;
    -ms-transition: background .25s;
    transition: background .25s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 50px;
  text-indent: 20px;
  color:#aaa;
}

.long-label {
   display: block;
   margin-left: 58px;
   text-indent: 0;
   line-height: 1.25em;
   margin-top: 10px;
   margin-bottom: 10px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #49b362;
  background: rgba(255,255,255,0.06);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
  position:fixed;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
  float:right;
  padding-right: 27px;
  padding-top:20px;
}

#wrapper:not(.active) .sub_icon {
    float: right;
    padding: 15px 25px;
    text-align: center;
    width:auto;
}

.sidebar-footer {
  margin-top:80px;
  bottom:0;
  padding:20px;
  display:block;
  margin-bottom: 10px
}

.sub_icon
{
  font-size: 1rem;
  float:left;
  width: 32px;
  padding-top: 16px;
  margin-right: 1px;
  margin-left: 5px;
}

.dd_icon {
  text-align:center;
  font-size: 1rem;
  margin-left: 0;
  padding-top: 0.5rem;
  width: 2rem;
  margin-right: 1px;
  margin-top: 0.875rem;
}

.content-header {
  height: 60px;
  line-height: 60px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 60px;
  display: inline-block;
}

@media (max-width:992px) {

    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 70px;
    }
    #wrapper.active {
        padding-left: 150px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 240px;
        width: 240px;
        transition: all .4s ease 0s;
    }

}




/*order-stages*/


.order-stage-1 {
  height: 3px;
  width:100%;
  border-bottom: 3px solid #51b353;
  padding: 0 10px;
}

.order-stage-2 {
  height: 3px;
  width:100%;
  border-bottom: 3px solid #f5bf20;
  padding: 0 10px;
}

.order-stage-3 {
  height: 3px;
  width:100%;
  border-bottom: 3px solid #4080f0;
  padding: 0 10px;
}

.dashboard-td-2 {
  width:23%;
}

.stat-tab {
  height: 3px;
  width:100%;
  border-top: 6px solid #4080f0;
  padding: 0 10px;
}




.card-order {
  border:none;
  outline: 3px solid rgba(0,150,0,0) !important;
  transition: 0.3s ease;
}

.card-order:hover {
  outline: 3px solid rgba(0,150,0, .2) !important;
}

/*.card-order:hover .card-header {
  background-color: #e6f4e9;
}
*/

.form-input-line {
    background-color:none;
    transition: 0.3 ease;
    padding:10px;
    margin-right:-20px;
    margin-left:-20px;
  }

.form-input-line-danger{
    background-color:#fff0f0;
    transition: 0.3 ease;
    padding:10px;
    margin-right:-20px;
    margin-left:-20px;
    color: #d34744;
  }

@media (min-width: 1024px) {
  .form-input-line:hover {
    background-color: #f7f7f7;
  }

}

.card-order-btn {
  opacity:0;
  position:absolute;
  right:2px;
  top:1px;
}
.card-order:hover .card-order-btn {
    opacity: 1;
    transition: 0.3s ease;
  }


/*special tabs for contractors statistics*/


.nav-pills-2 {
  height: 7.5rem;
}

.nav-pills-2.nav-link.active, .nav-pills .show > .nav-link {
  background-color: #fff;
  border-top: 6px solid #4080f0;
  margin-top: -6px;
  color: #2a3034;
}

.nav-pills-2.nav-link.active, .nav-pills .show > h5 {
  color: #2a3034;
}

.nav-pills-2:not(.active) {
  background-color: #f5f5f5;
  color: #adb5bd;
}

#data1-tab.nav-link:not(.active) #edit_btn{
  display:none;
}


/*end of special tabs*/


.related-orders-icon {
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -14px;
    font-size: 1.35rem;
    right: 1em;
    z-index:500;
}

.linked-omnicomm-icon {
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -0.5em;
    font-size: 1rem;
    right: -1.5em;
    z-index:500;
}



/*-------fullscreen search-------*/





  #search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index:1100;

    -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}

#search .btn {
    position: absolute;
    top: 58%;
    left: 50%;
    margin-left: -45px;
}

#search #desc {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}


.badge-n {
    font-size: inherit;
    font-weight: inherit;
    padding: 0.25rem 0.5rem 0.3rem;
}

.order-drag-handle:after {
  content: "";  
  background: url(..img/drag.svg)
}




/*drag-and-drop styling*/

.move {
  cursor: move;
  transition: background-color 0.25s ease;
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none; 
  position: relative;
  padding: 0.5rem 1.6rem 0.5rem 1rem;
  text-align: right;
}


.move:hover {
  background-color: #eee;
}

.drag_handle {
  position: absolute;
  right:0.4rem;
}

/*end of drag and drop*/



/*map in modals*/

.modalmap {
  width: 100%;
  height: 32rem;
}



/*routes*/

.time_stamp {
  width: 100px;
  height: 1.5rem;
  padding-left: 30px;
  padding-right: 10px;
  display: inline-block;
  text-align: right;
}

.distance_stamp {
  width: 112px;
  height: 1.5rem;
  right: 30px;
  border-right: 2px solid #49b362;
  margin-right: 0;
  padding-right: 20px;
  display: inline-block;
  text-align: right;
  color: #adb5bd;
  font-size: 0.75rem;
}

.distance_stamp_empty {
  width: 112px;
  height: 1.5rem;
  right: 30px;
  border-right: 2px dotted #adb5bd;
  margin-right: 0;
  padding-right: 20px;
  display: inline-block;
  text-align: right;
  color: #adb5bd;
  font-size: 0.75rem;
}

.distance_stamp_rest {
  width: 112px;
  height: 2.5rem;
  right: 30px;
  margin-right: 0;
  padding-right: 20px;
  display: inline-block;
  text-align: right;
  color: #adb5bd;
}

.route_label_send {
  width: 1rem;
  height: 1rem;
  margin-top: 0.4rem;
  display: inline-block;
  border: 3px solid #49b362;
  border-radius: 100%;
  vertical-align: text-bottom;
  margin-right: 0.6rem;
}

.route_label_receive {
  width: 1rem;
  height: 1rem;
  margin-top: 0.4rem;
  display: inline-block;
  border: 3px solid #007bff;
  border-radius: 100%;
  vertical-align: text-bottom;
  margin-right: 0.6rem;
}

.route_load {
  padding-left:1.1rem;
  display: inline-block;
}


.distance_load_wrapper {
  height:2.4rem;
  padding: 0.5rem;
}


/*end of routes styles*/




.table_icon {
  width: 20px;
  margin: 0.2rem 0.5rem;
}



.hover_smth {
  cursor: pointer;
}

.hover_disabled {
  cursor: not-allowed;
}


.custom-control-label-tr:after {
  left:-0.75rem;
  top: -0.75rem;
  }

.custom-control-label-tr:before {
  left:-0.75rem;
  top: -0.75rem;
}


.tag_wrapper {
  position: relative;
  cursor: pointer;
}

.tag_wrapper:hover{
  background-color: #adb5bd;
  opacity: 0.9;
  transition: all 0.3s ease;
}


.tag_wrapper:hover + #tag_veh_1 {
  display: inline;
  position: absolute;
  right: -1rem;
  top:0;
  z-index: 1000;
}

#tag_veh_1 {
  display: none;
}



/*--------------- adaptive font-sizes --------------*/



@media (max-width: 1024px) {


  body {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.875rem;
  }

  h5 {
    font-size: 0.75rem;
  }

  .nav-pills-2 {
    height: 6rem;
}


}